altgraph==0.17
auto-py-to-exe==2.7.8
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
Eel==0.12.4
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
idna==2.10
pefile==2019.4.18
pycparser==2.20
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
pyparsing==2.4.7
pywin32-ctypes==0.2.0
requests==2.24.0
scapy==2.4.4
urllib3==1.25.10
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.1.2
